@page
@model HealthCenterMaster.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Paciente";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-md-3">
        <form method="post">
            <h2>@ViewData["Title"]</h2>
            <h4>Tela de cadastro</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group input-group-lg">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group input-group-lg">
                <label asp-for="Client.CPF" class="control-label"></label>
                <input asp-for="Client.CPF" class="form-control" />
                <span asp-validation-for="Client.CPF" class="text-danger"></span>
            </div>
            <div class="form-group input-group-lg">
                <label asp-for="Client.Email" class="control-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group input-group-lg">
                <label asp-for="Client.DateOfBirth" class="control-label"></label>
                <input asp-for="Client.DateOfBirth" class="form-control" />
                <span asp-validation-for="Client.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Cadastrar</button>
            </div>
            <div>
                <a asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
